---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: tanmay
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Tanmay dhobale</span>, a <button class="button-text js-channel-trigger" data-channel="8">Puneites</button> based in india, Software Developer, Artist and avid open-sourcerer.
    <br/><br/>
    Currently, I'm focused on improving the last-mile delivery experience for <a href="https://depressionhub.vercel.app/" target="_blank" rel="noopener noreferrer">depressionhub</a>.
    <br/><br/>
    I'm a very outgoing and curious person, who's passionate about
    <a href="https://github.com/TanmayDhobale" target="_blank" rel="noopener noreferrer">coding</a>,
     <a href="https://www.instagram.com/tanmay4l" target="_blank" rel="noopener noreferrer">art</a>
    nature, dog,
    and
    music. I love to stare at a
    <a href="https://justgetflux.com/" target="_blank" rel="noopener noreferrer">not-so-bright screen</a>
    while coding on a constant state of
    <a href="https://en.wikipedia.org/wiki/Flow_(psychology)" target="_blank" rel="noopener noreferrer">Flow</a>. Here are some <a href="/playlists">playlists</a> to get you going.
    <br/><br/>
    If you'd like to chat, feel free to reach me by <a href="mailto:workwithtanmay@gmail.com">e-mail</a>.
  </p>
</article>
